@import '~src/variables';

button {
    color: $color-primary;
    font-size: $font-size-button;
    letter-spacing: $letter-spacing-button;
}
* {
    padding: 0;
    margin: 0;
    background-color: $color-primary;
}
.card-header{
    padding: 16px 20px 16px 0;
    align-items: center;
    border-radius: 10px 10px 0 0;
}
.container {
    padding-top: 5px;
}
.sessionsCompleted {
    text-align: center;
    background-color: $color-accent;
    color: $color-primary;
    border-radius: 5px;
    padding: 5px;
}
mat-card {
    border-radius: 10px;
    padding: 0;
}
li {
    list-style-type: none;
    padding: 10px 0 10px 0;
    align-items: center;
    font-size: $font-size-body;
    letter-spacing: $letter-spacing-body;
}
li:hover{
    background-color: $color-accent;
    color: $color-primary;
}
.playButtons {
    display: none;
}
.shuffleButtons {
    display: none;
}
.btn{
    padding: 5px 5px 0px 5px;
    color: $color-accent;
    background-color: $color-primary;
}
.btn.watched {
    color: $color-grey-dark-icons;
    margin-right: 12px;
}
.btn.un-watched {
    color: $color-grey-medium;
    margin-right: 12px;
}
li:hover > .playButtons {
    display: block;
 }
li:hover > .shuffleButtons {
    display: block;
}
.statusIcon{
    display: block;
    text-align: right;
}
li:hover > .statusIcon{
    display: none;
}
.sessionId {
    font-weight: bold;
    font-family: Roboto;
    font-style: normal;
    font-size: $font-size-body;
    padding: 0 15px 0 15px;
}
mat-card-title{
    padding-left: 30px;
}
.sessionName {
    font-weight: normal;
    font-family: Roboto;
    font-style: normal;
    font-size: $font-size-body;
    text-align: left;
}
li:hover > span {
    background-color: $color-accent;
}